{% extends "layout.html" %}

{% block content %}


    <p> Car Model</p>

        <p>A car model (or automobile model or model of car) is the name used by a manufacturer to market a range of similar cars.
            The way that car manufacturers group their product range into models varies between manufacturers.
            A model may also be referred to as a nameplate, specifically when referring to the product from the point of view of the manufacturer,
            especially a model over time. For example, the Chevrolet Suburban is the oldest automobile nameplate in continuous production,
            dating to 1934 (1935 model year), while the Chrysler New Yorker was (until its demise in 1996) the oldest North American car
            nameplate. "Nameplate" is also sometimes used more loosely, however, to refer to a brand or division of larger company
            (e.g., GMC), rather than a specific model.</p>

    <p>Car Make</p>
        <p>A car's make is the brand of the vehicle, while the model refers to the name of a car product and sometimes a range of products. For example, Toyota is a car make and Camry is a car model.
            The make, model, model year, body style and trim level all have implications on the cost of a vehicle and its insurance
            rates.</p>

    <p>The Model Year</p>

        <p>The model year of a car is one of the main ways that cars of the same make and model are differentiated.
            However, a vehicle's model year is not necessarily the same as the year it was manufactured.
            You can usually purchase a vehicle for a given model year a few months before the calendar year actually starts.
            For example, the 2018 Honda Civic was available for purchase starting in late summer 2017</p>

    <p> For more information on car Model, Make and Year for a specific car, please visit the website.</p>
    <a href=" ">https://www.ranker.com/fact-lists/automobile-model-years/make-and-model </a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Honda</td>
            <td>Civic</td>
            <td>2018</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Chevrolet</td>
            <td>Equinox</td>
            <td>2018</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Toyota</td>
            <td>Corola</td>
            <td>2016</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Nissan</td>
            <td>Maxima</td>
            <td>2000</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
